streamlit>=1.35
openai>=1.40
supabase>=2.7
pillow>=10.3
python-dotenv>=1.0
plotly>=5.22
pandas>=2.2
reportlab>=4.2
streamlit-option-menu>=0.3.6
streamlit-lottie>=0.0.5
requests>=2.31
numpy>=1.26
wordcloud>=1.9
matplotlib>=3.8
